#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &studio_unlock &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5 &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp NUMBER_0 &kp MINUS &kp PLUS &kp BACKSPACE &kp HOME
                &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp RETURN &kp PG_UP
                &kp CAPSLOCK &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMICOLON &kp APOSTROPHE &kp PG_DN
                &kp LSHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp RIGHT_SHIFT &none &none &studio_unlock &kp UP_ARROW
                &kp LCTRL &kp LEFT_WIN &kp LEFT_ALT &kp SPACE &kp RIGHT_ALT &kp RIGHT_WIN &kp RCTRL &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW
            >;
        };
    };
};
tubnbbrtuiopp[qweruiop]